<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Serrure connectée</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-5">
    <div class="container">
        <h1>Serrure Connectée</h1>
        <p>Liste des cartes et accès :</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                {% for carte in cartes %}
                <tr>
                    <td>{{ carte[0] }}</td>
                    <td>{{ carte[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Serrures</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Nom</th>
                    <th>Rôles autorisés</th>
                </tr>
            </thead>
            <tbody>
                {% for serrure in serrures %}
                <tr>
                    <td>{{ serrure[1] }}</td>
                    <td>{{ serrure[2] }}</td>
                    <td>{{ serrure[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Logs d'utilisation</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UID carte</th>
                    <th>UID serrure</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log[1] }}</td>
                    <td>{{ log[2] }}</td>
                    <td>{{ log[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>
